a,
.loadmore p:hover,
.exp a:hover,
.blog-post-meta-seperator,
.blog-post-readmore a,
.comment_list .comment .meta .comment-reply-login,
.comment_list .comment .meta .comment-reply-link{color:#70B0EB}
#contact,
#home,
.menu,
.menu-button-minus,
.mobile-menu>a,
.mobile-ul li,
.subnavigation a:hover,
.subnavigation a.current,
.resume-skill-next:hover,
.resume-skill-prev:hover,
.post-pagination a:hover,
.post-pagination .this-page,
.highlight,
.search input[type="submit"],
.frame-overlay{background-color:#70B0EB}
