{{ define "main" }}
<div class="row pt-5">
    <div class="col-md-8 mx-auto">
        <article>
            <h1 class="mb-3">{{ .Title }}</h1>
            <div class="text-muted mb-4">
                {{ .Date.Format "January 2, 2006" }}
            </div>
            <div class="content">
                {{ .Content }}
            </div>
        </article>
        <div class="mt-5">
            <a href="/blog" class="text-muted">&larr; Back to Blog</a>
        </div>
    </div>
</div>
{{ end }}
