@media (min-width: 768px) and (max-width: 979px)
{
.page{margin-left:0;}
.menu-area
{
	width:700px ;	
	left:102px;
}
.menu
{
	width:700px;
}
.menu-button-minus
{
	left:657px;
}
}
@media (max-width: 768px) {
  
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }

 .hidden-tablet
   {
	display:none !important;
  }
  .visible-tablet
    {
	display:block !important;
  }

html,body
{
	max-height:none;
}
header{height:67px;}
footer{height:30px;}
.mainpart
{
	width:100%;
	margin:auto;
	height:auto;
	white-space:normal;
	max-height:100% ;
}
.page
{
	height:100%;
	display:block;
	margin-left:0;
	max-height:none;
}
[class*="span"]
{
	display:block;
	float:none;
	margin-left:0;
}
.span12 
{
	width:100%;
}
.mypic
{
	width:100%;
	float:none;
}
#portfolio{text-align:center;}
.portfolio
{	
	height:100%;
	padding:0 10px;
	width:80%;
	display:inline-block;
}
.two-column
{
	margin:auto;
}
.wrap
{
	width:100%;
}
#home
{
	background-image:none;
}
#home>img
{
	margin:auto;
}
.offset6
{
	margin:0;
}
.span6
{
	width:100%;
}
.row
{
	margin-left:0;
}
.about-text
{
	margin:0 40px;
}
.page-title
{
	position:static;
	text-align:center;
}
.page-title h2
{
	margin:25px 0 0;
}
.portfolio-header
{
	padding:0;
	text-align:center;
}
.subnavigation
{
	display:inline-block;
	top:5px;
}
.about-title h3
{
	font-size:50px;
	font-weight:700;
	text-align:center;
}
.about-title h6
{
	font-size:24px;
	font-weight:300;
	text-align:center;
	margin-top:15px;
}
.about-paragraph
{
	text-align:center;
	margin:35px auto;
	height:160px !important;
}
.about-text
{
	padding-top:40px;
}
.signiture
{
	margin:0 0 30px;
	text-align:center;
}
.chart-title
{
	width:100%;
	text-align:center;
	margin-top:60px;
	margin-bottom:60px;
}
.chart-title h4
{
	font-size:60px;
	line-height:70px;
}
#resume-exp-next,#resume-exp-prev{
    top:220px;
}
#resume-exp-prev
{
	left:45%;
}
#resume-exp-next
{
	left:50%;
}
.skills
{
	margin-top:60px;
}
.chartbox
{
	margin-top:60px;
}
.charts
{
	margin-top:0;
}
.loadmore
{
	margin-bottom:14px;
}
.hideme
{
	width:400px;
	margin:auto;
}
#resume
{
	padding-bottom:60px;
}
.resume-seperator
{width:100%;}
#map
{
	width:100%;
}
.contact-info
{
	padding-bottom:30px;
}
.contact-add
{border-left:none;}
.contact-info div{
	text-align:center;
}
.experiences
{
	width:450px;
	display:block;
	margin:auto;
}
.exp
{
	margin-left:40px;
}
.contact-title,.socials{
	float:none;
	text-align:center;
	margin:10px auto;
}
.socials{
	display:inline-block;
}
.contact-content
{
	text-align:center;
}

.contact-add
{
	margin-top:20px;
	text-align:center;
	margin-left: 20px;
	padding:0;
}
.contact-form
{
	margin-top:35px;
	display:inline-block;
}
.input
{
	display:block;
}
.i-email
{
	display:inline-block;
	margin-left: 7px;
}
.i-name
{
	float:left;
}
.btn
{
	float:none;
	margin:25px auto 0;
}
.span5
{
	width:auto;
}
.menu-area
{
	width:90% !important;	
	left:30px;
}
.menu
{
	width:93%;
}
.menu-button-minus
{
	left:94%;
}
.header-titles
{
	left:10px;
}
.name-title
{
	font-size:30px;
	font-weight:400;
}
.job-title
{
	font-size:14px;
}
.resume-skill-next
{
	left:53%;
	top:220px;
}
.resume-skill-prev
{
	left:48%;
	top:220px;
}
.search input[type="submit"] 
{
	width:21%;
}
#contact #respond_wrap fieldset
{
	float:none;
}	
#resume-definition{
    width: 100%;
}
.experiences{
    width: inherit;
}
}

@media (max-width: 650px) {
.job-title
{
	font-size:13px;
	font-weight:400;
	letter-spacing:0;
}
.name-title
{
	font-size:17px;
	font-weight:700;
}
.sidebar
{
	border-left:none;
	padding-left:0;
}
}
@media (max-width:480px){
.hidden-phone 
{
	display: none !important;
}
.visible-phone 
{
	display: inherit !important;
}
.footer-center
{
	width:300px;
}
.footer-border
{
	display:none;
}
.header-titles
{
	bottom:14px;
	letter-spacing:0;
	left:10px;
	width:auto;
}
.name-title
{
	font-size:25px;
}
#title-seperator
{
	visibility:hidden;
}
.job-title
{
	font-size:12px;
	float:none;
}
.hideme
{
	width:auto;
}
.chart-title
{
	margin-bottom:35px;
}
.chart-title h4
{
	font-size:30px;
	line-height:40px;
}
.resume-skill-next
{
	left:55%;
}
.resume-skill-prev
{
	left:46%;
}
.chartbox
{
	float:none;
}
.chart
{
	margin:auto;
}
.experiences
{
	width:auto;
}
.exp
{
	float:none;
	margin:45px auto auto;
	width:220px;
}
.work-title
{
	font-size:21px;
	line-height:24px;
}
.period
{
	font-size:19px;
}
.about-title h3
{
	font-size:30px;
}
.about-title h6
{
	font-size:17px;
	margin-top:10px;
}
#resume-exp-prev
{
	left:39%;
}
#resume-exp-next
{
    left:50%;
}
#resume-exp-prev, #resume-exp-next
{
    top: 150px;
}
.resume-skill-prev, .resume-skill-next{
    top: 150px;
}
#contact #respond_wrap fieldset
{
	width:auto;
}

}
@media (max-width:345px)
{
.name-title
{
	font-size:17px;
	font-weight:700;
}
.job-title
{
	font-size:9px;
}
.header-titles
{
	bottom:14px;
	letter-spacing:0;
}

#email
{
	margin-left:22px;
}

}