  html,
  body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ffffff;
  }

  .code {
      color:#000000;
  }
  .font-weight-normal {
    font-size: 2.125rem !important;
    margin-bottom: 0px !important;
  }

  .footer-text {
    font-size: 12px !important;
    margin-bottom: 0px !important;
    margin-top: 10px;
  }

  .rounded-circle-border {
    padding: 10px;
    border:1px solid #495057;
    border-radius: 10%;
  }
  
  .form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
  }  
  
  /* footer social icons */
    ul.social-network {
        list-style: none;
        display: inline;
        margin-left:0 !important;
        padding: 0;
    }
    ul.social-network li {
        display: inline;
        margin: 0 5px;
    }


    /* footer social icons */
    a.icoGithub {
        background-color: #2c3e50;
    }
    a.icoFacebook {
        background-color:#3B5998;
    }
    a.icoTwitter {
        background-color:#33ccff;
    }
    a.icoGoogle {
        background-color:#BD3518;
    }
    a.icoVimeo {
        background-color:#0590B8;
    }
    a.icoLinkedin {
        background-color:#007bb7;
    }

    a.icoInstagram {
        background: #125688;
    }

    /* footer social icons */
    .social-network a.icoGithub:hover {
        background-color: #2c3e50;
        opacity: 0.8;
    }
    .social-network a.icoFacebook:hover {
        background-color:#3B5998;
        opacity: 0.8;
    }
    .social-network a.icoTwitter:hover {
        background-color:#33ccff;
        opacity: 0.8;
    }
    .social-network a.icoGoogle:hover {
        background-color:#BD3518;
        opacity: 0.8;
    }
    .social-network a.icoVimeo:hover {
        background-color:#0590B8;
        opacity: 0.8;
    }
    .social-network a.icoLinkedin:hover {
        background-color:#007bb7;
        opacity: 0.8;
    }

    .social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
    .social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
        color:#fff;
    }
    a.socialIcon:hover, .socialHoverClass {
        color:#44BCDD;
    }

    .social-circle li a {
        display:inline-block;
        position:relative;
        margin:0 auto 0 auto;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        border-radius:50%;
        text-align:center;
        width: 40px;
        height: 40px;
        font-size:20px;
    }
    .social-circle li i {
        margin:0px;
        line-height:45px;
        text-align: center;
    }

    .social-circle li a:hover i, .triggeredHover {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -ms--transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        -ms-transition: all 0.2s;
        transition: all 0.2s;
    }
    .social-circle i {
        color: #fff;
        -webkit-transition: all 0.8s;
        -moz-transition: all 0.8s;
        -o-transition: all 0.8s;
        -ms-transition: all 0.8s;
        transition: all 0.8s;
    }
